.footer {
    background-color: black;
    margin-top: 48px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.icon{
    color: white;
    margin: 10px;
    transition: all linear 100ms;
}

.icon:hover{
    color: #9a9a9a;
    transform: translateY(-2px) scale(1.25);
}

.email, .name {
    text-align: center;
}

.email::after {
    color: #868282;
    content: 'Wanna see my meme collection?'
}

.email:hover::after {
    color: #868282;
    content: 'Email: lichiheng1998@gmail.com'
}
