.parallaxWrapper {
    position:relative;
    transform-style: preserve-3d;
    z-index: -1;
    box-sizing: border-box;
}
.parallaxWrapper::before {
    line-height: 0;
    content:"";
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    transform:translateZ(-1px) scale(2);
    background-image: url("../images/banner.jpg");
    background-size: cover
}

.bg {
    background-image: url("../images/banner.jpg");
    background-size: cover
}

.inverted * {
    color: #fff;
}

.container {
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;
}
