.responsiveIcon {
    font-size: 30px;
}
.proficiency {
    margin: 0 !important;
}

.wrapper {
     margin: 0;
     position: relative;
}

.level {
    margin: 5%;
}

.cardcontent {
    border-top: 1px solid silver;
    padding: 8px;
    background-color: #f4f4f4;
}

.btn{
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
}

.btn:hover {
    background: #b3e1ff;
}
.surroundlayer {
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .cardcontent {
        padding: 15px;
    }
}

@media only screen and (min-width: 992px) {
    .wrapper {
         margin: 0 5%;
    }

    .cardcontent {
        padding: 24px;
    }
    .responsiveIcon {
        font-size: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
         margin: 0 5%;
    }
}
